<footer class="bg-paper mt-auto py-2">
  <div class="row">
    <p class="col-6">&copy; 2023 Tamada Arino</p>
    <p class="col-6 small text-end">お問い合わせは<%= link_to "こちら", new_inquiry_path %>まで</p>
  </div>
</footer>
