<% if resource.errors.any? %>
  <div class="mx-auto border border-danger rounded-3">
    <div id="error_explanation" data-turbo-cache="false">
      <ul class="mx-auto px-3 py-2 m-0">
        <% resource.errors.full_messages.each do |message| %>
          <li class="text-danger"><i class="bi bi-exclamation-triangle"></i> <%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
