<% provide(:title, "#{@user.name}さんのフォロー") %>
<h3 class="p-2 mb-3">
  <%= link_to :back, class: "text-decoration-none" do %>
    <i class="bi bi-arrow-left-circle text-secondary"></i>
  <% end %>
  <%= @user.name %>さんのフォロー
</h3>
<%= render partial: 'shared/user_list', collection: @user.following_users, as: :user %>
