<h3><%= @user.name %></h3>
<h5>プロフィール</h5>
<% if @user.id == current_user.id %>
  <%= link_to edit_user_registration_path do %>
    編集
  <% end %>
<% end %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#posts" class="nav-link active" data-bs-toggle="tab">投稿一覧</a>
  </li>
  <li class="nav-item">
    <a href="#favolites" class="nav-link" data-bs-toggle="tab">お気に入り一覧</a>
  </li>
  <li class="nav-item">
    <a href="#histories" class="nav-link" data-bs-toggle="tab">チェック履歴</a>
  </li>
</ul>
<div class="tab-content">
  <div id="posts" class="tab-pane active">
    <p>投稿一覧</p>
  </div>
  <div id="favolites" class="tab-pane">
    <p>お気に入り一覧</p>
  </div>
  <div id="histories" class="tab-pane">
    <p>チェック履歴</p>
  </div>
</div>
