<input id="block-01" type="checkbox" class="toggle" checked>
<label class="Label bg-alminium mt-3" for="block-01">カテゴリーから探す</label>
<div class="content">
  <ul class="p-0">
    <% Category.roots.each do |root_category| %>
      <li>
        <%= link_to root_category.name, category_path(root_category.id), class: "text-dark" %>
        <ul>
          <% root_category.leaves.each do |category| %>
            <li><%= link_to category.name, category_path(category.id), class: "text-dark" %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
