<header>
  <div>
    <%= link_to root_path do %>
      Papeterie Station
    <% end %>
  </div>
  <div>
    <ul>
      <li>ログイン</li>
      <li>ゲストログイン</li>
      <li>新規登録</li>
    </ul>
  </div>
</header>
<div class="contain">
  <h1>Papeterie Station</h1>
  <h2>Papeterie Stationとは？</h2>
  <p>見て、使うことで心躍る文房具-Papeterie-のシェアステーション。</p>
  <p>あなたのお気に入りの一品を見つけて。</p>
</div>
<footer>
  <div>
    <p>&copy; 2023 Tamada Arino</p>
  </div>
</footer>
