<% provide(:title, "投稿製品一覧") %>
<div class="d-flex justify-content-between">
  <h3>投稿製品一覧</h3>
  <%= link_to new_product_path, class: "btn btn-red bg-red text-light" do %>
    <i class="bi bi-plus-circle"></i> 製品を投稿
  <% end %>
</div>
<%= render "shared/search_form" %>
<div class="row">
  <%= render partial: 'shared/product_list', collection: @products, as: :product %>
</div>

