<% provide(:title, "検索結果") %>
<h3>検索結果</h3>
<%= search_form_for @q, url: search_products_path, method: :get do |f| %>
  <%= f.search_field :name_or_description_cont, placeholder: '商品名または説明を入力' %>
  <%= f.submit '検索' %>
<% end %>
<div class="row">
  <%= render partial: 'shared/product_list', collection: @products, as: :product %>
</div>
